.container

  .page-header
    %h1.result-header Search Results (All)
  .filter-buttons
    %button.btn.btn-primary.btn-lg.filter.filter-volumes='Show Only Volumes'
    %button.btn.btn-primary.btn-lg.filter.filter-creators='Show Only Creators'
    %button.btn.btn-primary.btn-lg.filter.filter-characters='Show Only Characters'
    %button.btn.btn-primary.btn-lg.filter.filter-none='Show All Results'

  .well
    .row
      -@results.each do |result|

        -if result.searchable_type == 'Volume'
          .col-md-4.index_element.results-volumes

            %p.text-center.thumb=link_to(image_tag(result.searchable.thumbnail_url ? result.searchable.thumbnail_url : 'no_image_available_thumb.jpg', class: 'img-thumbnail'), publisher_volume_path(result.searchable.publisher_id, result.searchable.id))
            %p.text-center=link_to("#{result.searchable.name} (#{result.searchable.start_year})", publisher_volume_path(result.searchable.publisher_id, result.searchable.id))
        -elsif result.searchable_type == 'Creator'
          .col-md-4.index_element.results-creators
            %p.text-center.thumb=link_to(image_tag(result.searchable.profile_picture_thumb_url && result.searchable.profile_picture_thumb_url != 'http://static.comicvine.com/uploads/scale_avatar/0/1/1-male-good-large.jpg' && !(result.searchable.profile_picture_thumb_url.include? 'question_mark') && !(result.searchable.profile_picture_thumb_url.include? 'unknown') ? result.searchable.profile_picture_thumb_url : 'no_image_available_thumb.jpg', class: 'img-thumbnail'), creator_path(result.searchable.id))
            %p.text-center=link_to("#{result.searchable.name}", creator_path(result.searchable.id))
        -else
          .col-md-4.index_element.results-characters
            %p.text-center.thumb=link_to(image_tag(result.searchable.thumb_url && result.searchable.thumb_url != 'http://static.comicvine.com/uploads/scale_avatar/0/1/1-male-good-large.jpg' && !(result.searchable.thumb_url.include? 'question_mark') ? result.searchable.thumb_url : 'no_image_available_thumb.jpg', class: 'img-thumbnail'), publisher_character_path(result.searchable.publisher_id, result.searchable.id))
            %p.text-center=link_to("#{result.searchable.name}", publisher_character_path(result.searchable.publisher_id, result.searchable.id))
