.container
  .page-header
    %h1=@publisher.name
  .row
    .col-md-3
      =image_tag(@publisher.logo_url, class: 'pub-logo-show')
    .col-md-9
      %p=strip_links(@publisher.short_description).html_safe
      %p
        %strong Website:
        =link_to @publisher.website, @publisher.website
      -# %p=strip_links(@publisher.full_description).html_safe
  %h3="Volumes:"
  .well
    .row
      -@publisher.volumes.sort {|a,b| a.name_with_date <=> b.name_with_date}.each do |volume|
        .col-md-4.index_element
          %p.text-center.thumb=link_to image_tag(volume.thumbnail_url ? volume.thumbnail_url : 'no_image_available_thumb.jpg', class: 'img-thumbnail'), publisher_volume_path(@publisher, volume)
          %p.text-center=link_to volume.name_with_date, publisher_volume_path(@publisher, volume)
