.container
  .page-header
    %h1=@publisher.name
  .row
    .col-md-3
      =image_tag(@publisher.logo_url, class: 'pub-logo-show')
    .col-md-9
      %p=strip_links(@publisher.short_description).html_safe
      %p
        %strong Website:
        =link_to @publisher.website, @publisher.website
  .browse-buttons
    %button.btn.btn-success.btn-characters.btn-pub-toggle.pull-right Browse by Characters
    %button.btn.btn-success.btn-volumes.btn-pub-toggle.pull-right Browse by Volumes
  .pub-volumes
    %h3="Volumes:"
    .well
      .row
        -@publisher.volumes.sort {|a,b| a.name_with_date <=> b.name_with_date}.each do |volume|
          .col-md-4.index_element
            %p.text-center.thumb=link_to image_tag(volume.thumbnail_url ? volume.thumbnail_url : 'no_image_available_thumb.jpg', class: 'img-thumbnail'), publisher_volume_path(@publisher, volume)
            %p.text-center=link_to volume.name_with_date, publisher_volume_path(@publisher, volume)

  .pub-characters
    %h3="Characters:"
    .well
      .row
        .alpha-list.text-center
          %h4
            -@publisher.characters.order(:name).each_with_index do |character, index|
              -if character.name[0] != @publisher.characters.order(:name)[index-1].name[0]
                %span.label.label-default.alpha-letter="  #{character.name[0]}  "
            .show-all.label.label-primary="All"

      .row
        -@publisher.characters.order(:name).each do |character|
          .col-md-4.index_element.ind-character
            %p.text-center.thumb=link_to image_tag(character.thumb_url && character.thumb_url != 'http://static.comicvine.com/uploads/scale_avatar/0/1/1-male-good-large.jpg' && !(character.thumb_url.include? 'question_mark')? character.thumb_url : 'no_image_available_thumb.jpg', class: 'img-thumbnail'), publisher_character_path(@publisher, character)
            %p.text-center=link_to character.name, publisher_character_path(@publisher, character)
