.container
  .jumbotron.text-center
    %h1 Welcome!
    %h4 Here you can search and find information about comics that you wish to purchase along with links to various vendors selling digital versions of these comics
    .well.search-well
      =form_tag search_path, class: 'form-inline', method: :get do
        .form-group
          =label_tag :query, 'Search Volumes, Creators, and Characters', class:  'search-label'

          .input-group
            =text_field_tag :query, params[:query], :class => 'search-box'
          =submit_tag 'Search', :class => 'btn btn-default search-button'
    .browse-options
      %p=link_to 'Browse All Creators', creators_path
      %p -or-
      %p Browse Volumes and Characters by Publishers:
    .row
      -@publishers.order(:name).each do |publisher|

        .col-md-2
          .row
            =link_to image_tag(publisher.logo_thumb_url), publisher_path(publisher), class: 'pub-logo'
          .row
            =link_to publisher.name, publisher_path(publisher)
