.container
  .page-header
    %h1 Creators
  -@creators.each_with_index do |creator, index|
    -if creator.name[0] != @creators[index-1].name[0]
      %h5.letter.text-center="-#{creator.name[0]}-"
    =link_to creator.name, creator_path(creator), class: 'creator-name'
