.container
  .page-header
    %h1 About
  .about-text
    %p
      This is a demo for a site to make it easier for comic book fans to find and compare prices on digital versions of their favorite comic books.  All information regarding comics, creators, and characters as well as images were obtained using the ComicVine API.  Please visit them at
      =link_to 'Comicvine.com', 'http://www.comicvine.com/'
    %p
      Information about prices and links to vendors were gathered from the respective vendors site.  Prices are subject to change at the vendor's discretion, although we endevor to keep these as up-to-date as possible.
    %p While the images were obtained from ComicVine, all characters, logos, and covers are belong to their respective owners.
  %h2 Frequently Asked Questions
  #accordion
    %h3 Do you sell comics?
    %div
      %p No, we do not actually sell any comics, we link you to vendors that do.
    %h3 Are you making money off of this?
    %div
      %p No, we are not making any money, in its current form this is a non-commerical site.
    %h3 Why isn't a particular comic/character/creator/vendor not listed?
    %div
      %p This is not a fully comprehensive list, this is a small sample chosen to illustrate the concept behind this site.
    %h3 Is all your information 100% accurate?
    %div
      %p While we try to be accurate as possible, there might be mistakes or inaccurate information.
    %h3 Do you also have information on buying physical copies of comics?
    %div
      %p No, this site is solely focused on digital comics.
    %h3 I have a question or a suggestion, how can I contact you?
    %div
      %p
        You can contact us at
        =mail_to 'digitalcomicshopper@gmail.com'
