.container
  .page-header
    %h1 About
  .about-text
    %p
      The goal of this site is to make it easier for comic book fans to find and compare prices on digital versions of their favorite comic books.  All information regarding comics, creators, and characters as well as images were obtained using the ComicVine API.  Please visit them at
      =link_to 'Comicvine.com', 'http://www.comicvine.com/'
    %p
      Information about prices and links to vendors were gathered from the respective vendors site.  Prices are subject to change at the vendor's discretion, although we endevor to keep these as up-to-date as possible.
    %p While the images were obtained from ComicVine, all characters, logos, and covers are belong to their respective owners.
  
