/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-bottom: 75px;
  padding-top: 75px;
}

.jumbotron > * {
  padding: 7px;
}

.navbar-fixed-bottom {
  border-top: 2px inset #f8f8f8;
  background: #f8f8f8;
  padding: 5px
}

.img-thumbnail {
  max-height: 170px;
  max-width: 116px;
}

.index_element {
  height: 300px;
  width: 150px;
}

.creator_index_element {
  height: 300px;
  width: 150px;
}

.thumb {
  height: 170px;
  width: 116px;
}

.cover_image {
  max-height: 650px;
  max-width: 420px;
}

.profile-pic {
  margin-bottom: 35px;
  max-height: 650px;
  max-width: 420px;
}

.search-label {
   margin-right: 10px;
 }

 .search-box {
   width: 500px;
 }

 .search-button {
   margin-left: 10px;
 }

 .search-well {
   padding: 40px 20px;
 }

 .pub-logo {
   width: 100%;
   height: 175px;
   display: inline-block;
   margin-top: 30px;
 }

 .pub-logo-show {
   max-width: 250px;
 }

// .creator-info blockquote {
//   max-width: 100
// }
// .creator-info * {
//   max-width: 20%;
// }

.col-md-6 * {
  max-width: 100%;
}

.btn-block {
  margin: 20px 0;
}

.btn-bundle {
  margin: 10px;
  padding: 10px;
  max-width: 350px;
  word-wrap: break-word;
  white-space: normal;
}

.btn-bundle-right {
  margin: 10px 10px 20px 10px;
  padding: 10px;
  max-width: 500px;
  word-wrap: break-word;
  white-space: normal;
}

.expand {
  color: teal;
  font-size: 2em;
  margin: 5px auto 10px auto;
}

.expand-appearances, .expand-credits, .retract-appearances, .retract-credits {
  color: teal;
  font-size:1.5em;
}

.retract {
  color: teal;
  font-size: 2em;
}

.full-description {
  height: 250px;
  overflow: hidden;
}

.short-description {
  max-height: auto;
  margin-bottom: 10px;
}

.browse-options p {
  margin: 5px;
}

// .creator-name {
//   float: left;
//   margin: 10px 3%;
//   width: 18%;
// }
//
// .creator-name:nth-child(4n):after {
//   clear: left;
// }

.letter {
  clear: left;
}

.browse-buttons {
  margin: 20px;
}

.filter {
  margin: auto 10px;
}
